<footer class="footer has-background-black has-text-light">
    <div class="container">
        <div class="columns">
            <div class="column is-4">
                <h3 class="title is-5 has-text-light">GameServer Cloud</h3>
                <p class="has-text-grey-light mb-4">
                    Deploy and manage persistent game servers with ease. Built for game developers who demand reliability and performance.
                </p>
                <div class="buttons">
                    <a href="#" class="button is-small is-outlined is-light">
            <span class="icon">
              <i class="fab fa-twitter"></i>
            </span>
                    </a>
                    <a href="#" class="button is-small is-outlined is-light">
            <span class="icon">
              <i class="fab fa-github"></i>
            </span>
                    </a>
                    <a href="#" class="button is-small is-outlined is-light">
            <span class="icon">
              <i class="fab fa-discord"></i>
            </span>
                    </a>
                    <a href="#" class="button is-small is-outlined is-light">
            <span class="icon">
              <i class="fab fa-linkedin"></i>
            </span>
                    </a>
                </div>
            </div>

            <div class="column is-2">
                <h4 class="title is-6 has-text-light mb-3">Product</h4>
                <ul>
                    <li class="mb-2"><a href="#features" class="has-text-grey-light">Features</a></li>
                    <li class="mb-2"><a href="#pricing" class="has-text-grey-light">Pricing</a></li>
                    <li class="mb-2"><a href="#integrations" class="has-text-grey-light">Integrations</a></li>
                    <li class="mb-2"><a href="#changelog" class="has-text-grey-light">Changelog</a></li>
                </ul>
            </div>

            <div class="column is-2">
                <h4 class="title is-6 has-text-light mb-3">Resources</h4>
                <ul>
                    <li class="mb-2"><a href="#docs" class="has-text-grey-light">Documentation</a></li>
                    <li class="mb-2"><a href="#api" class="has-text-grey-light">API Reference</a></li>
                    <li class="mb-2"><a href="#guides" class="has-text-grey-light">Guides</a></li>
                    <li class="mb-2"><a href="#support" class="has-text-grey-light">Support</a></li>
                </ul>
            </div>

            <div class="column is-2">
                <h4 class="title is-6 has-text-light mb-3">Company</h4>
                <ul>
                    <li class="mb-2"><a href="#about" class="has-text-grey-light">About</a></li>
                    <li class="mb-2"><a href="#blog" class="has-text-grey-light">Blog</a></li>
                    <li class="mb-2"><a href="#careers" class="has-text-grey-light">Careers</a></li>
                    <li class="mb-2"><a href="#contact" class="has-text-grey-light">Contact</a></li>
                </ul>
            </div>

            <div class="column is-2">
                <h4 class="title is-6 has-text-light mb-3">Legal</h4>
                <ul>
                    <li class="mb-2"><a href="#privacy" class="has-text-grey-light">Privacy</a></li>
                    <li class="mb-2"><a href="#terms" class="has-text-grey-light">Terms</a></li>
                    <li class="mb-2"><a href="#security" class="has-text-grey-light">Security</a></li>
                    <li class="mb-2"><a href="#compliance" class="has-text-grey-light">Compliance</a></li>
                </ul>
            </div>
        </div>

        <hr class="has-background-grey-darker my-5">

        <div class="columns is-vcentered">
            <div class="column">
                <p class="has-text-grey-light is-size-7">
                    © {{ "now"|date("Y") }} GameServer Cloud. All rights reserved.
                </p>
            </div>
            <div class="column has-text-right">
                <p class="has-text-grey-light is-size-7">
                    Made with <span class="has-text-danger">♥</span> for game developers
                </p>
            </div>
        </div>
    </div>
</footer>

<style>
    .footer a:hover {
        color: hsl(204, 86%, 53%) !important;
    }
</style>
